:root {
    --c-light: #FFFDFA;
    --c-neutral: #434345;
    --c-dark: #241F19;
    --c-base-light: #fca647;
    --c-base: #FB8604;
    --c-base-dark: #c96b03;
}

* {
    /*background-color: var(--c-light);*/
}

html, body {
    margin: 0;
    height: 100%;
}

#c {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.metaButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 2%;
    right: 2%;
}
.metaButton {
    background-color: var(--c-base);
    border: 2px solid ;
    border-radius: 12px;
    color: var(--c-light);
    border-color: var(--c-base);
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
}
.actionButtons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}
.actionButton{

    background-color: var(--c-base);
    border: 4px solid ;
    border-radius: 8px;
    color: var(--c-light);
    border-color: var(--c-base);
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 300%;
}
.actionButton:hover{
    background-color: var(--c-base-light);
}
.actionButton:active{
    background-color: var(--c-base-dark);
}
.actionButtonContent{
    width: 100%;
    height: 120%;
}
.statusBar{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}
.statusBarItem{
    background-color: var(--c-light);
    border: 6px solid ;
    border-radius: 8px;
    color: var(--c-neutral);
    border-color: var(--c-base);
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 300%;
}
.material-icons.md-48 { font-size: 48px; }