<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Precision</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="static/style.css">
    </head>
<body>
    <canvas id="c"></canvas>
    <div>
        <div class="metaButtons">
            <button class="metaButton material-symbols-outlined">info</button>
            <button class="metaButton material-symbols-outlined">settings</button>
        </div>
        <div class="actionButtons">
            <button style="top:0" class="actionButton disableControls">A</button>
            <button style="top:0" class="actionButton disableControls"><div class="actionButtonContent material-symbols-outline">B</div></button>
            <button style="top:0" class="actionButton disableControls"><div class="actionButtonContent material-symbols-outline">C</div></button>
        </div>
        <div class="statusBar">
            <div class="statusBarItem disableControls">1</div>
            <div class="statusBarItem disableControls">2</div>
            <div class="statusBarItem disableControls">3</div>
            <div class="statusBarItem disableControls">4</div>
        </div>
    </div>
    <!-- run script -->
    <script src="static/index.js" type="module"></script>
</body>
</html>