<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Precision</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style.css">
    </head>
<body>
    <canvas id="c"></canvas>
    <div class="metaButtons">
        <button class="metaButton material-symbols-outlined">info</button>
        <button class="metaButton material-symbols-outlined">settings</button>
    </div>
    <div class="actionButtons">
        <button class="actionButton">A</button>
        <button class="actionButton "><div class="actionButtonContent material-symbols-outline">B</div></button>
        <button class="actionButton "><div class="actionButtonContent material-symbols-outline">C</div></button>
    </div>
    <div class="statusBar">
        <div class="statusBarItem">1</div>
        <div class="statusBarItem">2</div>
        <div class="statusBarItem">3</div>
        <div class="statusBarItem">4</div>
    </div>
    <!-- run script -->
    <script src="index.js" type="module"></script>
</body>
</html>